<section id="user-login">
  <h2>Login with Facebook</h2>

  <p>
    With this button, you can log in with your facebook profile
  </p>

  <form id="user-login-form" action="<%= user_login_url %>" method="get">
    <button type="submit" name="login">Facebook login</button>

    <input type="hidden" name="token"/>
  </form>

  <small class="login-exception"><%= flash[:exception] %></small>
</section>