<!DOCTYPE html>
<html>
<head>
  <title>Facebook Bejelentkezés</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header>
    <h1>
      Facebook bejelentkezés

      <small>Ruby on Rails</small>
    </h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    created by <strong>Nagy Samu</strong>
  </footer>
</div>
</body>
</html>
